<div class="container-fluid" id="main-content">
  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="card" id="loginCardDiv">
              <div class="card-body" id="climbing-wall-background">
                  <div class="row" id="loginLoginRegisterPanel">
                      <div class="col-md-1"></div>
                      <div class="col-md-10">
                          <div class="card">
                              <div class="card-body">
                                  <div class="row">
                                      <div class="col-md-5">
                                              <div class="form-group">
                                                  <label for="loginInputUsername">Username:</label>
                                                  <input type="text" class="form-control" id="loginInputUsername" placeholder="Username" name="name" required [(ngModel)]="name">
                                              </div>
                                              <div class="form-group">
                                                  <label for="loginInputPassword">Password:</label>
                                                  <input type="password" class="form-control" id="loginInputPassword" placeholder="Password" required name="password" [(ngModel)]="password">
                                              </div>
                                              <a class="btn btn-success" id="loginSubmitBtn" (click)="login()">Login</a>
                                      </div>
                                      <div class="col-md-2">
                                          <div class="vertical-rule"></div>
                                      </div>
                                      <div class="col-md-5" id="loginRegisterViaSocialDiv">
                                          <div id="loginRegisterFbDiv">
                                              <a class="btn btn-facebook" (click)="loginFB()">
                                                  <img src="../../assets/imgs/white-fb-logo.svg" id="loginRegisterFbIcon">
                                                  Login with Facebook
                                              </a>
                                          </div>
                                      </div> 
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-1"></div>
                  </div>                  
              </div>
          </div>
      </div>
      <div class="col-md-2"></div>
  </div>
</div>