#trackerNewExerciseForm {
    width: 450px;
  }
  #trackerInputExerciseDatabase {
    margin-left: 5px;
    width: 175px;
    margin-bottom: 5px;
  }
  #trackerSearchExercises, #trackerSelectExercises {
    margin-left: 10px;
  }
  #trackerSearchDatabaseDiv, #trackerSelectDropdownDiv, #trackerCountFields {
    display: none;
  }
  #database-icon, #dropdown-icon {
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1em;
    margin-right: 8px;
    margin-bottom: 3px;
    padding: 3px;
    width: 5px;
  }
  #exerciseSearchBtn {
    margin-left: 5px;
  }
  #trackerMatchingExercise {
    width: 255px;
  }
  #trackerSelectExerciseDropdown {
    width: 250px;
  }
  #trackerCountFields {
    position: relative;
  }
  #trackerCountFields label {
    margin-right: 5px;
  }
  #trackerWeightLabel, #trackerTimeLabel {
    margin-top: 10px;
  }
  #arrowContainer {
    line-height: 221px;
    text-align: center;
    right: 15px;
  }
  #arrowContainer button {
    margin-left: 20px;
  }
  /* #addExercise {
    border-radius: 30%;
    display: inline-block; 
    width: 73px;
    height: 70px;
  }
  #addExercise > i {
    color: black;
    width: 25px;
    height: 30px;
    text-align: center;
  }
  #addExercise > input {
    background: none;
    color: white;
    padding: 0;
    border: 0;
  } */
  #addedExercises {
    height: 205px;
  }
  #trackerAddedExercisePane {
    height: 85%;
  }
  #trackerSaveAdded, #trackerDeleteChecked {
    float: right;
    margin-top: 10px;
    margin-left: 10px;
  }