<div class="container-fluid" id="main-content">
  <div class="container card" id="homeMain">
      <div class="card-body">
          <div class="row">
              <h2 class="card-title main-title">Add an Exercise to Your Tracker</h2>
              <ul class="list-group" id="users">
                    <li *ngFor="let x of entry.users" class="list-group-item list-group-item-success">
                        <img [src]="x.picture" style="width: 26px;" class="rounded" />
                        {{x.name}}
                    </li>
              </ul>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <div class="card">
                      <div class="card-header">
                          Exercises
                      </div>
                      <ul class="list-group list-group-flush" id="">
                          <li *ngFor="let x of me.exercises; index as i" class="list-group-item" 
                            (click)="addToEntry($event, x, i)">
                            {{x.name}}
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-3"></div>
              <div class="col-md-5">
                  <div class="card">
                      <div class="card-header">
                          My Exercise Log
                      </div>
                      <ul class="list-group">
                          <li *ngFor="let x of entry.exercises; index as i" class="list-group-item"
                            (click)="removeExercise(x)">
                            {{x.name}}
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>