<div class="container-fluid" id="main-content">
  <div class="row" style="padding-top: 20px;padding-left:20px;padding-right: 20px;">
      <div class="col-md-4">
          <div class="card">
              <img class="card-img-top" src="../assets/imgs/home-fitness-campus-board.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Fitness</h4>
                  <p class="card-text">Add entries to your tracker to start logging your exercises.</p>
                  <a href="./tracker" class="btn btn-primary">Tracker</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="../assets/imgs/home-nutrition.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Nutrition</h4>
                <p class="card-text">Track your food intake or find ideas for new recipes.</p>
                <button type="button" class="btn btn-primary" disabled>Coming Soon</button>
            </div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <img class="card-img-top" src="../assets/imgs/home-training-system-board.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Apps   </h4>
                  <p class="card-text">Download our mobile platform to track your exercises on the go.</p>
                  <a href="#" class="btn btn-primary">
                      <span class="fa fa-apple"></span>
                      iOS/Android
                      <span class="fa fa-android"></span>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>